Repository sandrop8/multi-agent-expert-sourcing: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-check, backend-ruff-format, backend-pytest-quick, frontend-eslint, frontend-typescript, frontend-jest-quick

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  # Local project hooks
  - repo: local
    hooks:
            # Backend-specific hooks (run only when backend files change)
      # Use uv run --project backend to maintain root directory context
      - id: backend-ruff-check
        name: Backend Ruff linting
        entry: uv run --project backend ruff check backend/ --fix
        language: system
        files: '^backend/.*\.py$'

      - id: backend-ruff-format
        name: Backend Ruff formatting
        entry: uv run --project backend ruff format backend/
        language: system
        files: '^backend/.*\.py$'

      - id: backend-pytest-quick
        name: Backend quick tests (fast subset)
        entry: uv run --project backend pytest backend/tests/test_simple.py -x --tb=short
        language: system
        files: '^backend/.*\.py$'

      # Frontend-specific hooks (run only when frontend files change)
      # Run from root directory to maintain proper environment context
      - id: frontend-eslint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && bun run lint --fix'
        language: system
        files: '^frontend/.*\.(ts|tsx|js|jsx)$'

      - id: frontend-typescript
        name: Frontend TypeScript check
        entry: bash -c 'cd frontend && bunx tsc --noEmit'
        language: system
        files: '^frontend/.*\.(ts|tsx)$'

      - id: frontend-jest-quick
        name: Frontend quick tests
        entry: bash -c 'cd frontend && bun run test --onlyChanged --passWithNoTests --maxWorkers=2'
        language: system
        files: '^frontend/.*\.(ts|tsx|js|jsx)$'

  # External hooks for general file validation
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Python-specific external hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: '^backend/.*\.py$'
      - id: ruff-format
        files: '^backend/.*\.py$'

Add pytest dependency to project configuration
  backend/pyproject.toml
  backend/uv.lock
Due: none

updated ai engineer metrics & tech stack readme
  .pre-commit-config.yaml
  README.md
  backend/docs/AGENT_ARCHITECTURE_PRINCIPLES.md
  backend/docs/AGENT_INTEGRATION_GUIDE.md
  backend/tests/test_cv_agents.py
Due: backend-ruff-check, backend-ruff-format, backend-pytest-quick

small frontend refactoring 1/3
  README.md
  frontend/RESPONSIVENESS_IMPROVEMENTS.md
  frontend/React_Frontend_Principles.md
  frontend/app/page.tsx
  frontend/components/common/CallToActionCard.tsx
  frontend/components/common/HeroSection.tsx
  frontend/components/features/landing/FeatureGallery.tsx
Due: frontend-eslint, frontend-typescript, frontend-jest-quick

major agent documentation
  README.md
  backend/docs/AGENT_ARCHITECTURE_PRINCIPLES.md
  backend/docs/AGENT_FRAMEWORK_SELECTION_GUIDE.md
  backend/docs/AGENT_IMPLEMENTATION_GUIDE.md
  backend/docs/AGENT_MODULE_OUTLINE.md
  backend/docs/AGENT_PROMPTING_PRINCIPLES.md
Due: none

update bun lockfile to fix Docker build
  frontend/bun.lockb
Due: none

add axios dependency to fix Docker build error
  frontend/bun.lockb
  frontend/package.json
Due: none
